
<nav class="navbar" id="navbar">
    <a class="navbar-brand" href="/">
        <img class="ms-5" src="/imgs/mubi-logo-nav.png" alt="MUBI-Logo">
    </a>
    
    <div class="container">
        <ul class="row list-unstyled d-flex px-4">
          <li class="col">
            <a class="nav-link" href="#">EM EXIBIÇÃO</a>
          </li>
          <li class="col">
            <a class="nav-link" href="#">NOTEBOOK</a>
          </li>
          <li class="col">
            <a class="nav-link" href="#">ENTRAR</a>
          </li>
        </ul>
    </div>
</nav>
<hr>