<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<main>
    <img src="/imgs/index-bg.webp" alt="" class="idx-bg">
    <h1 class="titulo-idx">IN THE MOOD FOR LOVE</h1>
    <a href="/films">
        <h3 class="btn-catalogo">VER CATÁLOGO</h3>
    </a>

    <div class="infos-idx">
        <h6 >DIRIGIDO POR <strong>WONG KAR WAI</strong></h6>
        <p>HONG KONG 2000</p>
    </div>

</main>

<%- include('partials/footer.ejs') %>
